<div class="about-jumbotron">
  <!-- <div class="img-1"></div>
  <div class="img-2"></div> -->
  <div class="jumbotron-container">
    <div style="z-index: 1; display: flex; justify-content: center; flex-direction: column; align-items: center;">
      <h1 class="title">{{ 'ABOUT.ABOUT_ME' | translate }}</h1>
      <div class="phrase">
        {{ 'ABOUT.ABOUT_PHRASE' | translate }}
      </div>
      <button mat-flat-button [routerLink]="['/home']" fragment="contact">{{ 'ABOUT.TOUCH' | translate }}</button>
    </div>
  </div>
  <!-- <Particles
    class="particles"
    [id]="id"
    [options]="particlesOptions2"
  ></Particles> -->
</div>

<div class="tabs-navigation-container">
  <div class="tab focus-outline" routerLinkActive="active" [routerLink]="['./description']">
    <mat-icon>contact_page</mat-icon>
    <div>{{ 'ABOUT.DESCRIPTION' | translate }}</div>
  </div>
  <div class="tab focus-outline" routerLinkActive="active" [routerLink]="['./biography']">
    <mat-icon>auto_stories</mat-icon>
    <div>{{ 'ABOUT.BIOGRAPHY' | translate }}</div>
  </div>
</div>

<router-outlet></router-outlet>
