<mat-toolbar class="footer">
  <mat-toolbar-row class="row-1">
    <div class="site-map">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a class="child-route" href="/about/description">Description</a>
      <a class="child-route" href="/about/biography">Biography</a>
      <a href="/cv">CV</a>
      <a href="/projects">Projects</a>
      <a href="/Hobbies">Hobbies</a>
    </div>
    <div class="middle-container">
      <div class="label">Follow me</div>
      <div class="social-links-container">
        <i class="fab fa-linkedin-in" (click)="navigateLink('https://www.linkedin.com/in/bernardo-mondragon/')" ></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-reddit-alien"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>
      <div class="site-terms-container">
        <div class="link">Privacy</div>
        <div class="link">Terms of use</div>
        <div class="link">Cookies</div>
      </div>
    </div>
    <app-presentation-card
      [name]="nameFooter"
      [title]="titleFooter"
      [emailAddress]="emailAddressFooter"
      [phoneNumber]="phoneNumberFooter"
      [physicalAddress]="physicalAddressFooter"
      (showInfo)="onShowInfo($event)"
    ></app-presentation-card>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-2">
    <div class="powered-by">Powered by {{nameFooter}}</div>
  </mat-toolbar-row>
</mat-toolbar>
