.example-spacer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.header {
  z-index: 10;
  position: relative;
  overflow-x: hidden;
  .navigation-container {
    display: flex;
    a {
      color: white;
      cursor: pointer;
      margin-right: 10px;
      text-decoration: none;
      &:visited {
        color: inherit;
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-mobile {
  z-index: 10;
  position: relative;
  overflow-x: hidden;
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
  }
}
