// Custom component theming
@import '~@angular/material/theming';

@mixin header-theme($light-theme) {
  $primary: map-get($light-theme, primary);
  $accent: map-get($light-theme, accent);

  .spacer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .header {
    z-index: 10;
    position: relative;
    overflow-x: hidden;
    .header-container {
      display: flex;
      max-width: 1280px;
      margin: auto;
      width: 100%;
      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .navigation-container {
        display: flex;
        div {
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;
          margin-right: 10px;
          text-decoration: none;
          outline: none;
          &:hover {
            color: mat-color($accent);
          }
          &:visited {
            color: inherit;
          }
          &.active {
            &:before {
              content: '';
              position: absolute;
              height: 2px;
              background-color: white;
              width: 100%;
              bottom: 0px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .header-mobile {
    z-index: 10;
    position: relative;
    overflow-x: hidden;
    display: none;
    span {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }
}


::ng-deep {
  .settings-menu {
    .label {
      padding: 0px 10px;
    }
    .theme-radio-group {
      display: flex;
      flex-direction: column;
      padding: 10px;
      ::ng-deep {
        .mat-radio-button {
        }
      }
    }
  }
}
