.example-card {
  max-width: 400px;
  .card-header {
    margin-bottom: 10px;
    @media screen and (max-width: 375px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  ::ng-deep {
    .mat-card-title {
      margin-bottom: 0px;
      white-space: normal;
    }
    .mat-card-subtitle {
      margin-bottom: 0px;
      white-space: normal;
    }
    .mat-card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .profile-image {
    background-image: url('/assets/images/profile/profile-square-aspect-ratio.jpg');
    background-size: cover;
  }
  .card-field {
    display: flex;
    align-items: flex-start;
    mat-icon {
      margin-right: 10px;
    }
    .card-content-description {
      white-space: normal;
      margin-bottom: 0px;
    }
    .email {
      word-break: break-all;
    }
  }
  .info-button {
    color: grey;
    font-size: 8px;
  }
}
