<div class="top-toolbar">
  <div class="left">
    <div class="label" (click)="navigateToProjects()">
      {{ 'PROJECTS.PROJECTS' | translate }}
    </div>
  </div>
  <div class="right">
    <div class="info-label" (click)="scroll(projectDescription)">INFO</div>
  </div>
</div>

<div class="swiper-container" [swiper]="config" [(index)]="index">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let img of project?.images">
      <div class="slide-container">
        <img src="{{img}}" alt="" crossorigin="anonymous">
      </div>
    </div>
  </div>
</div>

<div class="bottom-toolbar">
  <div class="label">{{project?.name}}</div>
  <div class="swiper-buttons-container">
    <div class="swiper-button swiper-button-prev">
      <mat-icon style="transform: rotate(180deg);">play_arrow</mat-icon>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button swiper-button-next">
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>
</div>

<section #projectDescription class="project-description-section">
  <div *ngIf="!!project" class="project-description-container">
    <!-- <div class="project-name">{{ project.name }}</div> -->
    <div
      class="project-description"
      [innerHtml]="project.description"
    >
  </div>
  </div>
</section>

<div class="interrupter-container">
  <div class="interrupter"></div>
</div>

<div class="controls-container">
  <div class="controls">
    <div>
      <button *ngIf="!prevButtonDisabled" class="download-resumes-button prev" (click)="goToPreviousProject()" [disabled]="prevButtonDisabled">
        <mat-icon class="download-icon">navigate_before</mat-icon>
            {{ 'PROJECTS.PREV' | translate }}
      </button>
    </div>
    <div>
      <button *ngIf="!nextButtonDisabled" class="download-resumes-button next" (click)="goToNextProject()" [disabled]="nextButtonDisabled">
        {{ 'PROJECTS.NEXT' | translate }}
        <mat-icon class="download-icon">navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
