<section class="description-section">
  <div class="description-container">
    <div class="read-time">Read time: {{ readTime | readTime }}</div>
    <p>
      I am an actuary with vast experience in Full Stack Development and with a demonstrated history of working in the information services industry.
    </p>
    <p>
      Skilled in Insurance Theory, Risk Management, Software Development, Business Intelligence, and Product Development.
    </p>
    <p>
      Strong analitical professional with a Bachelor's Degree In Actuarial Science focused in Applied Mathematics to assess risk in insurance, finance and other industries and professions.
    </p>
    <p>
      I consider myself a fully qualified actuary who has the confidence to work on my own initiative and with the ability to play a key role within a leading company. I am a quick learner who can balance theory along with practical solutions.
    </p>
  </div>
  <div class="interrupter-container">
    <div class="interrupter"></div>
  </div>
</section>
