<section class="description-section">
  <div class="description-container">
    <div class="read-time">Read time: {{ readTime | readTime }}</div>
    <p>
      Actuary with a vast experience in Full Stack Development with a demonstrated history of working in the information services industry.
    </p>
    <p>
      Skilled in Insurance Theory, Risk Management, Software Development, Business Intelligence, and Product Development.
    </p>
    <p>
      Strong analitical professional with a Bachelor's Degree In Actuarial Science focused in Applied Mathematics to assess risk in insurance, finance and other industries and professions.
    </p>
    <p>
      I consider myself a fully qualived actuary who has the confidence to work on my own initiative and the ability to play a key role with a leading company. I am a quick learner who can balance theory along with practical solutions.
    </p>
  </div>
</section>
