<section class="description-section">
  <div class="description-container">
    <div class="read-time">{{ 'ABOUT.READ_TIME' | translate }}: {{ readTime | readTime }}</div>
    <p>
      {{ 'ABOUT.DESCRIPTION_P1' | translate }}
    </p>
    <p>
      {{ 'ABOUT.DESCRIPTION_P2' | translate }}
    </p>
    <p>
      {{ 'ABOUT.DESCRIPTION_P3' | translate }}
    </p>
    <p>
      {{ 'ABOUT.DESCRIPTION_P4' | translate }}
    </p>
  </div>
  <div class="interrupter-container">
    <div class="interrupter"></div>
  </div>
</section>
