<section class="biography-section">
    <div class="biography-container">
      <div class="read-time">Read time: {{ readTime | readTime }}</div>
      <p>Bernardo Mondragon Brozon is an actuary and programmer who is always looking forward to delivering the best practical solution for a given development. He loves getting involved in the most creative way possible to maximize the value that could be brought to the enterprise.</p>
      <p>He was born and grew up in Mexico's City (CDMX), and since he was 12 he has been engaging in challenging tasks such as developing applications and solving complex mathematical problems. </p>
      <p style="padding: 10px 30px; font-style: italic;">"My strongest belief is that creativity is the most valuable intangible asset when pursuing any enterprise because in this highly competitive world it takes more than just hard work in order to be the one who gets the highest value."</p>
      <p style="padding: 0px 30px; text-align: right;">— Bernardo Mondragon</p>
      <p>Bernardo has over 8 years of software development experience also being involvelved in data analysis and business intelligence.</p>
      <p>He is a self taught developer who has satisfied over 30+ clients over the past 5 years with reliable and scalable software solutions.</p>
      <p>Bernardo has a special interest in actuarial science because it applies beautiful mathematical models for assessing risk to protect people and society from adverse random events.</p>
      <p>He knows that commited students become successful adults. This is his 2nd year teaching computer science. Bernardo is excited to begin the best year ever!</p>
    </div>
    <div class="interrupter-container">
      <div class="interrupter"></div>
    </div>
  </section>
