<section class="biography-section">
    <div class="biography-container">
      <div class="read-time">{{ 'ABOUT.READ_TIME' | translate }}: {{ readTime | readTime }}</div>
      <p>{{ 'ABOUT.BIO_1' | translate }}</p>
      <p>{{ 'ABOUT.BIO_2' | translate }}</p>
      <p style="padding: 10px 30px; font-style: italic;">{{ 'ABOUT.BIO_3' | translate }}</p>
      <p style="padding: 0px 30px; text-align: right;">— Bernardo Mondragon</p>
      <p>{{ 'ABOUT.BIO_4' | translate: { yearsOfExperience: yearsOfExperience } }}</p>
      <p>{{ 'ABOUT.BIO_5' | translate }}</p>
      <p>{{ 'ABOUT.BIO_6' | translate }}</p>
      <p>{{ 'ABOUT.BIO_7' | translate: { teachingYears: teachingYears } }}</p>
    </div>
    <div class="interrupter-container">
      <div class="interrupter"></div>
    </div>
  </section>
