.biography-section {
    padding: 0px 20px;
    .biography-container {
        max-width: 1080px;
        margin: auto;
        .read-time {
            margin: 20px 0px;
            font-size: 12px;
            color: darkgray;
        }
    }
}
