<div class="swiper-wrapper-container">
  <div  class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide parallax-slide">
        <div class="slide-container">
          <div class="terminal">
            <div class="terminal-app-bar">
              <div class="left">
                <div class="ball red-ball"></div>
                <div class="ball yellow-ball"></div>
                <div class="ball green-ball"></div>
              </div>
              <div class="middle">
                <img src="../../../assets/icons/mac-home-folder.png" alt="home icon">
                <div class="label">Bernardo</div>
              </div>
              <div class="right"></div>
            </div>
            <div class="container">
              <div class="element0">
                bernardo@personal-website ~$
                <span class="typed-element-0"></span>
              </div>
              <div class="element1" *ngIf="showElement1" [ngClass]="showElement1 ? 'show' : 'nodisplay'">
                bernardo@personal-website ~$
                <span class="typed-element-1"></span>
              </div>
              <div class="element2" *ngIf="showElement2" [ngClass]="showElement2 ? 'show' : 'nodisplay'">
                bernardo@personal-website ~$
                <span class="typed-element-2"></span>
              </div>
              <div class="element3" *ngIf="showElement3" [ngClass]="showElement3 ? 'show' : 'nodisplay'">
                bernardo@personal-website ~$
                <span class="typed-element-3"></span>
              </div>
            </div>
          </div>
        </div>
        <Particles class="particles" [id]="id" [options]="particlesOptions"></Particles>
      </div>
      <div class="swiper-slide">
        <div class="slide-container">
          <div>2</div>
          <div>Title</div>
          <div>subtitle</div>
          <div>Description</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-container">
          <div>3</div>
          <div>Title</div>
          <div>subtitle</div>
          <div>Description</div>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-scrollbar"></div> -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<!-- ! Practice -->
<section>
  <input #myInput1 type="number" (blur)="onInputBlur($event)">
  <input #myInput2 type="number">
  <button (click)="onButtonclick()">Click me!</button>
  <button (click)="setValue()">Set value</button>
  <app-cool-border [title]="'Landing'" [subtitle]="'Used on landing'" [description]="'Using shared component whose host is declared in app module'">
    <div style="border: 1ps solid green; height: 35px;">
      This is some random content
    </div>
  </app-cool-border>
</section>

<section class="contact-section">
  <div class="contact-container">
    <div class="section-title">Contact</div>
    <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
      <mat-button-toggle-group name="fontStyle" aria-label="Contact chanel" formControlName="toggleControl" required>
        <mat-button-toggle value="whatsapp">Whatsapp</mat-button-toggle>
        <mat-button-toggle value="email">Email</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field appearance="outline" [color]="'accent'">
        <mat-label>Full Name</mat-label>
        <input
          matInput
          placeholder="Ex. John Doe"
          formControlName="nameControl"
          required
        />
        <mat-error *ngIf="contactForm.controls.nameControl.errors && contactForm.controls.nameControl.errors['required']">Full name is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" [color]="'accent'" *ngIf="isSendEmail">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Ex. john.doe@example.com"
          formControlName="emailControl"
          required
        />
        <mat-error *ngIf="contactForm.controls.emailControl.errors && contactForm.controls.emailControl.errors['noMatchRegex']">{{contactForm.controls.emailControl.errors['noMatchRegex']['errorMessage']}}</mat-error>
        <mat-error *ngIf="contactForm.controls.emailControl.errors && contactForm.controls.emailControl.errors['email']">Must enter a valid email address.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" [color]="'accent'">
        <mat-label>Leave a message</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          formControlName="messageControl"
          required
        ></textarea>
        <mat-error *ngIf="contactForm.controls.messageControl.errors && contactForm.controls.messageControl.errors['required']">A message is required.</mat-error>
        <mat-error *ngIf="contactForm.controls.messageControl.errors && contactForm.controls.messageControl.errors['minlength']">Message requires a minimun length of {{contactForm.controls.messageControl.errors['minlength'].requiredLength}}.</mat-error>
      </mat-form-field>
      <button class="send-whatsapp-button" mat-fab type="submit" aria-label="Send whatsapp">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</section>
