<section *ngIf="showEasterEgg" class="nyanSection" (mouseenter)="onHover()">
  <!-- <particles id="nyanParticles"  [params]="nyanParams" [style]="nyanStyle" [width]="nyanWidth" [height]="nyanHeight"></particles> -->
  <div class="banner">Error 404 - Page not found</div>
  <Particles
    id="nyanParticles"
    [id]="'nyanParticles'"
    [options]="nyanParams"
  ></Particles>
</section>

<video muted style="display: none;" id="video" src="../../../assets/audio/NyanCatSong.mp3" autoplay loop onplay="myFunction()"></video>
