.sidenav-container {
  .navigation-container {
    display: flex;
    flex-direction: column;
    a {
      position: relative;
      padding: 10px 20px;
      cursor: pointer;
      text-decoration: none;
      &:visited {
        color: inherit;
      }
      &.active {
        background-color: gainsboro;
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          background-color: #3f51b5;
          width: 2px;
          right: 0px;
          top: 0px;
        }
      }
    }
  }
}

/* ::ng-deep .light-theme .sidenav-container .navigation-container a {
  background-color: red;
}
::ng-deep .dark-theme .sidenav-container .navigation-container a {
  background-color: blue;
} */

@import '~@angular/material/theming';

@mixin sidebar-theme($light-theme) {
  $primary: map-get($light-theme, primary);
  $accent: map-get($light-theme, accent);
  .sidenav-container {
    a {
      background-color: mat-color($accent);
    }
  }
}
