mat-sidenav-container {
  background-color: unset;
  mat-sidenav {
    display: flex;
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
    position: fixed;
    top: 0px;
  }
  .router-outlet-container {
    min-height: calc(100vh - 56px - 331px);
    @media screen and (min-width: 600px) {
      min-height: calc(100vh - 64px - 473px);
    }
  }
}

.feedback-button {
  position: fixed;
  top: calc(50vh - 210px);
  z-index: 1;
  transform: rotate(-90deg);
  right: -34px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  line-height: 25px;
}

