<mat-sidenav-container [ngClass]="{'no-scroll': opened}">
  <mat-sidenav
    mode="over"
    [(opened)]="opened"
    [autoFocus]="false"
    (openedStart)="onOpenedStart()"
    (closedStart)="onClosedStart()"
  >
    <app-sidebar [initials]="initials" (sideBarNavigation)="opened = false"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [initials]="initials" (toggleSidenav)="opened = !opened"></app-header>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<button 
  *ngIf="showFeedbackButton"
  mat-raised-button 
  class="feedback-button" 
  color="accent" 
  feedback 
  (click)="deactivateSmothScrolling()" 
  (send)="onSendFeedback($event)"
  [title]="title"
  [placeholder]="placeholder"
  [editTip]="editTip"
  [checkboxLabel]="checkboxLabel"
  [cancelLabel]="cancelLabel"
  [sendLabel]="sendLabel"
  [moveToolbarTip]="moveToolbarTip"
  [drawRectTip]="drawRectTip"
  [highlightTip]="highlightTip"
  [hideTip]="hideTip"
  [editDoneLabel]="editDoneLabel"
>{{ 'MAIN.FEEDBACK' | translate }}</button>

<app-scroll-to-top></app-scroll-to-top>
