// Theming

@import './themes/light';

// custom variables

@import './variables';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif !important;
}

.no-scroll {
  overflow-y: hidden;
}

// $focus-outline-color: #46DDA9;
$focus-outline-color: black;
$focus-outline-thickeness: 2px;
.focus-outline {
  &:focus {
    outline: $focus-outline-thickeness solid $focus-outline-color;
    outline-style: dashed;
    @media screen and (max-width: 450px) {
      outline: none;
    }
  }
}
