<!-- <section class="hobbies-jumbotron">
  <div class="jumbotron-container">
      <div class="jumbotron-overlay">
          <div class="elements-container">
              <h1>Hobbies</h1>
              <h5>Creativity is intelligence having fun. – Albert Einstein</h5>
          </div>
      </div>
  </div>
</section> -->

<div class="about-jumbotron">
  <div class="jumbotron-container">
    <div class="elements-container">
      <h1 class="title">{{ 'HOBBIES.HOBBIES' | translate}}</h1>
      <div class="phrase">
        {{ 'HOBBIES.BALANCE' | translate}}
      </div>
      <button mat-flat-button [routerLink]="['/home']" fragment="contact">{{ 'ABOUT.TOUCH' | translate }}</button>
    </div>
  </div>
</div>

<div class="welcome-banner">{{ 'HOBBIES.LEARN_FREE_TIME' | translate }} <span style="margin-left: 5px;">{{ 'HOBBIES.FREE_TIME' | translate }}</span></div>

<section class="hobbies-section">
  <div class="hobbies-container">
    <div class="cards-container">
      <mat-card *ngFor="let hobby of hobbies">
        <img mat-card-image src="{{hobby.imageUrl}}">
        <mat-card-title>{{hobby.name}}</mat-card-title>
        <mat-card-content>
          <div [innerHTML]="hobby.description"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<div class="interrupter-container">
  <div class="interrupter"></div>
</div>
