<!-- <section class="hobbies-jumbotron">
  <div class="jumbotron-container">
      <div class="jumbotron-overlay">
          <div class="elements-container">
              <h1>Hobbies</h1>
              <h5>Creativity is intelligence having fun. – Albert Einstein</h5>
          </div>
      </div>
  </div>
</section> -->

<div class="about-jumbotron">
  <div class="jumbotron-container">
    <div class="elements-container">
      <h1 class="title">My hobbies</h1>
      <div class="phrase">
        My balance between personal and professional life
      </div>
      <button mat-flat-button [routerLink]="['/home']" fragment="contact">Get in touch</button>
    </div>
  </div>
</div>

<div class="welcome-banner">Learn what I like to do in my <span style="margin-left: 5px;">free time</span></div>

<section class="hobbies-section">
  <div class="hobbies-container">
    <div class="cards-container">
      <mat-card *ngFor="let hobby of hobbies">
        <img mat-card-image src="{{hobby.imageUrl}}">
        <mat-card-title>{{hobby.name}}</mat-card-title>
        <mat-card-content>
          <div [innerHTML]="hobby.description"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<div class="interrupter-container">
  <div class="interrupter"></div>
</div>
